<% if flash[:alert] %>
	<%= flash[:alert] %>
<% end %>

<% if @image.errors.any? %>
	<ul>
		<% @image.errors.full_messages.each do |error_msg| %>
			<li><%= error_msg %></li>
		<% end %>
	</ul>
<% end %>

<div class="container col-md-6 col-md-offset-3 new-session">

        <h2 class="form-signin-heading">Modify your picture</h2>
        <%= form_for [@user, @image], :html => { :multipart => true} do |f| %>
		
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">Title</span>
            <%= f.text_field :title, :placeholder => "Put a title!", class: "form-control"  %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">Direction</span>
            <%= f.text_field :direction, :placeholder => "Where did you take it?", class: "form-control col-md-10" %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">Description</span>
            <%= f.text_field :description, :placeholder => "Why do you want to share it?", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
            <%= f.file_field :photo, :placeholder => "Pick the file", class: "form-control"%>
        </div>

        
        <%= f.submit "SAVE", class: "btn btn-success col-md-12" %>
        <br>
        <%= link_to("CANCEL", user_image_path(@user, @image), class: "btn btn-warning col-md-12") %>
      <% end %>

</div> 