<% if flash[:alert] %>
  <div class="alert alert-warning" role="alert">
        <strong>Oh NO! </strong><%= flash[:alert] %>
  </div>
<% end %>

<% if @image.errors.any? %>
	<div class="alert alert-danger" role="alert">
    <ul>
  		<% @image.errors.full_messages.each do |error_msg| %>
  			<li><%= error_msg %></li>
  		<% end %>
  	</ul>
  </div>
<% end %>

<div class="container col-md-6 col-md-offset-3 new-session">

        <h2 class="form-signin-heading">Add a new photo!</h2>
        <%= form_for [@user, @image], :html => { :multipart => true} do |f| %>
		
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">Title</span>
            <%= f.text_field :title, :placeholder => "Put a title!", class: "form-control"  %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">Address</span>
            <%= f.text_field :address, :placeholder => "Where did you take it?", class: "form-control"  %>
          </div>
        </div>
     <!-- latitude y longitude estan ocultos pero no podemos eliminarlos para que funcione address -->
        <div class="form-group" hidden>
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">latitude</span>
            <%= f.text_field :latitude, :placeholder => "latitude!", class: "form-control"  %>
          </div>
        </div>

        <div class="form-group" hidden>
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">longitude</span>
            <%= f.text_field :longitude, :placeholder => "longitude!", class: "form-control"  %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">Theme</span>
              <select <%= f.text_field :theme, :placeholder => "Choose the type of place you want to share!", class: "form-control col-md-10" %>>
                <option>Monument</option>
                <option>Natural</option>
                <option>Art</option>
                <option>Entertainment</option>
                <option>Landscape</option>
                <option>Other</option>
              </select>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">Description</span>
            <%= f.text_field :description, :placeholder => "Why do you want to share it? Why is it a special place?", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
            <%= f.file_field :photo, :placeholder => "Pick the file", class: "form-control"%>
        </div>

        
        <%= f.submit "SAVE", class: "btn btn-success col-xs-12 col-md-12" %>
        <br>
        <%= link_to("CANCEL", user_path(@user), class: "btn btn-warning col-xs-12 col-md-12") %>
      <% end %>

</div> 