<div class="container-original">

    <h1 class="title col-md-11"><%= @image.title %></h1>

    <% if current_user && current_user.get_email == @user.email %>
        <div class="container col-md-6 container-buttoms">
            <%= link_to "Back", user_image_path(@user, @image), class: "btn btn-warning" %>
            <%= link_to "New", new_user_image_path(@user), class: "btn btn-success" %>
            <%= link_to "Edit", edit_user_image_path(@user, @image), class: "btn btn-info" %>
            <%= link_to "Destroy", user_image_path(@user, @image), method: :delete,
        data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
        </div>
    <% else %>
        <div class="col-md-6 col-md-offset-1 individual-buttom">
            <%= link_to "Back", photos_path, class: "btn btn-warning" %>
        </div>
    <% end %>
</div>

<div class="container col-md-12"></div>

<div class="container col-md-10 col-md-offset-1">

  <div class="row col-md-12" id="image"><%= image_tag @image.photo.url(:original), class: "img-thumbnail" %></div>

  <div class="container panel-effects col-md-10 col-md-offset-1">
  	<div class="panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-magnet"></i> Want to see that place from a new perspective? Try this!</h3>
          </div>
          <div class="panel-body">
              <div class="btn btn-md btn-hover btn-default" id="gray">Gray</div>
              <div class="btn btn-md btn-hover btn-primary" id="saturate">Saturate</div>
              <div class="btn btn-md btn-hover btn-info" id="contrast">Contrast</div>
              <div class="btn btn-md btn-hover btn-warning" id="blur">Blur</div>
              <div class="btn btn-md btn-hover btn-danger" id="invert">Invert</div>
              <div class="btn btn-md btn-hover btn-success" id="rotate">Rotate</div>
          </div>
      </div>
  </div>     
</div>