<% if flash[:notice] %>
	<div class="alert alert-warning" role="alert">
        <strong>Oh NO! </strong><%= flash[:alert] %>
	</div>
<% end %>

<div class="well">
        <%= link_to "Back to "+@user.name, user_path(@user), class: "btn btn-lg btn-warning" %>
        <% if current_user && current_user.get_email == @user.email %>

        	<%= link_to "New image", new_user_image_path(@user), class: "btn btn-lg btn-success" %>
        	<%= link_to "Edit image", edit_user_image_path(@user, @image), class: "btn btn-lg btn-info" %>
        	<%= link_to "Destroy image", user_image_path(@user, @image), method: :delete,
		data: {confirm: "Are you sure?"}, class: "btn btn-lg btn-danger" %>
        <% end %>
</div>

<div class="container col-md-12">
		<h1 class="row"><%= @image.title %></h1>
		<div class="row"><%= image_tag @image.photo.url(:original), class: "photo-original img-thumbnail" %></div>
		<div class="row direction"><%= @image.direction %></div> 
		<div class="row"><%= @image.description %></div>
		<div class="row"><%= @image.rating %></div>
</div>

<div class="col-md-8 col-md-offset-1" id="mapa_div"></div>

