<% if flash[:notice] %>
	<div class="alert alert-success" role="success">
        <strong></strong><%= flash[:notice] %>
	</div>
<% end %>

<div class="container well col-md-12">
        <%= link_to "Back to "+@user.name, user_path(@user), class: "btn btn-lg btn-warning" %>
        <% if current_user && current_user.get_email == @user.email %>

        	<%= link_to "New image", new_user_image_path(@user), class: "btn btn-lg btn-success" %>
        	<%= link_to "Edit image", edit_user_image_path(@user, @image), class: "btn btn-lg btn-info" %>
        	<%= link_to "Destroy image", user_image_path(@user, @image), method: :delete,
		data: {confirm: "Are you sure?"}, class: "btn btn-lg btn-danger" %>
        <% end %>
</div>

<div class="container col-md-6">

    <h1 class="title"><%= @image.title %></h1>

		<div class="row"><%= image_tag @image.photo.url(:large), class: "photo-original img-thumbnail" %></div>

    <div class="img-thumbnail image-text col-md-10 col-md-offset-1">
  		<div class="row col-md-10 col-md-offset-1"><span class="shadow">Place: </span><%= @image.address %></div>
  		<div class="row col-md-10 col-md-offset-1"><span class="shadow">What has to tell the uploader: </span><%= @image.description %></div>

      <center>
        <div class="row col-md-10 col-md-offset-1">
          <div class="btn-primary btn-circle btn-like">
            <span class="like"><%= @image.likes %> </span><span class="glyphicon glyphicon-thumbs-up"></span>
          </div>
        </div>
      </center>      
    </div>



</div>

<div class="mapa_single container col-sm-12 col-md-5">
  <div id="map" style='width: 100%; height: 100%;'></div>
</div>


<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      zoom : 10,
      mapTypeId : google.maps.MapTypeId.ROADMAP,
    },
    internal: {
      id: 'map'
    }
  },
  function(){
  	markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(14);
  }
);

</script>


