<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<h1>SHOW IMAGE FROM USER: <%= @user.name %></h1>
<ul>
	<li>
		<%= @image.title %> 
		<%= image_tag @image.photo.url(:large) %>
		<%= @image.direction %> 
		<%= @image.description %>
		<%= @image.rating %>
	</li>

	<% if current_user && current_user.get_email == @user.email %>

		<%= link_to(" - Edit Image", edit_user_image_path(@user, @image)) %>
		<%= link_to(" - Destroy Image", user_image_path(@user, @image), method: :delete,
		data: {confirm: "Are you sure?"}) %>

	<% end %>

</ul>

<ul>
<%= link_to("Back to user", user_path(@user)) %>
<%= link_to("New image", new_user_image_path(@user)) %>
</ul>


