<% if flash[:alert] %>
    <div class="alert alert-warning" role="alert">
        <strong>Oh NO! </strong><%= flash[:alert] %>
    </div>
<% end %>

<% if @user.errors.any? %>
    <div class="alert alert-danger" role="danger">
        <ul>
            <% @user.errors.full_messages.each do |error_msg| %>
                <li><%= error_msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>


<div class="container col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4 new-session">

        <h2 class="form-signin-heading">Create new user</h2>
        <%= form_for @user do |f| %> 
        <%= f.text_field :name, :placeholder => "Name", class: "form-control" %>
        <%= f.email_field :email, :placeholder => "Email", class: "form-control" %>
        <%= f.password_field :password, :placeholder => "Password", class: "form-control"%>
        
        <%= f.submit "SAVE", class: "btn btn-primary col-xs-12 col-md-12" %>
        <br>
        <%= link_to("CANCEL", welcome_path, class: "btn btn-danger col-xs-12 col-md-12") %>
      <% end %>

</div> 

