<% if flash[:notice] %>
	<br>
	<div class="alert alert-success" role="alert">
	    <%= flash[:notice] %>
	</div>
<% end %>

	<div class="jumbotron">
	    <h1><%= @user.name %></h1>

	    <% if current_user.email != @user.email %>
		    <p class="lead">
		    	Like an image of this user? You want to ask where he took the photos? Send him a message!
		    	<br>
		    	<br>	
		    	<a class="btn btn-default" href="" role="button">Send a message <span class="glyphicon glyphicon-envelope"></span></a>
			</p>
		<% else %>
			<p class="lead">
		    	Welcome to your profile, dear <%= @user.name %></p>
		    <br><br>
	  	<%= link_to "Add a new image", new_user_image_path(@user), class: "btn btn-lg btn-default col-md-12" %>
		<%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-lg btn-default col-md-12" %>
		<% end %>
	</div>

<div class="container">
	<% @user.images.each do |image| %>	
		<div class="container col-md-6 photo-large-container">
			<div class="row col-md-12"><%= link_to image_tag(image.photo.url(:large)), user_image_path(@user, image), class: "img-thumbnail"  %></div>
			<div class="row col-md-12 title"><%= image.title %></div>
			<div class="row col-md-12"><%= image.direction %></div>
			<div class="row col-md-12"><%= image.description %></div>

			<% if current_user && current_user.admin? %>

				<%= link_to(" - Edit Image", edit_user_image_path(@user, image)) %>
				<%= link_to(" - Destroy Image", user_image_path(@user, image), method: :delete,
				data: {confirm: "Are you sure?"}) %>

			<% end %>
		</div>
		</li>
	<% end %>
</div>


