<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<h1> SHOW USER </h1>

<ul>
	<li><%= @user.name %> </li>
	<li><%= @user.email %></li>
</ul>
<ul>
	<% @user.images.each do |image| %>
		<li>
			<%= image.url %> 
			<%= image.direction %> 
			<%= image.description %>
			<%= link_to(" - Edit Image", edit_user_image_path(@user, image)) %>
			<%= link_to(" - Destroy Image", user_image_path(@user, image), method: :delete,
			data: {confirm: "Are you sure?"}) %>

		</li>
	<% end %>
</ul>

<%= link_to("Users", users_path) %>
<%= link_to("New Image", new_user_image_path(@user)) %>
<%= link_to("Edit user", edit_user_path(@user)) %>


